/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.background-1 {
  background: #f2f9f1;
}

.background-2 {
  background: #ddeedf;
}

.background-3 {
  background: #b6cdbd;
}

.background-4 {
  background: #5c715e;
}

/*
 * Mobile: 12–16 px
 * Tablet: 15–19 px
 * Desktop: 16–20 px
 */
