// colors
$background-1: #f2f9f1;
$background-2: #ddeedf;
$background-3: #b6cdbd;
$background-4: #5c715e;

// fonts
$font-mobile-sm: 12px;
$font-mobile-lg: 16px;
$font-tablet-sm: 15px;
$font-tablet-lg: 19px;
$font-desktop-sm: 16px;
$font-desktop-lg: 20px;
