@import "../../styles/variables";

.expense-table-container {
  border: 2px solid $background-4;
  border-radius: 8px;
  height: 80vh;
  margin: 16px auto;
  overflow: auto;
  width: 96vw;
}

th,
.mat-mdc-footer-cell {
  font-weight: bold;
}

th,
td {
  color: black;
  min-width: 115px;
  text-align: center;

  &:nth-child(even) {
    background-color: $background-1;
  }

  &:nth-child(odd) {
    background-color: $background-2;
  }
}

th.mat-column-name,
td.mat-column-name {
  font-weight: bold;
}

th.mat-column-more,
td.mat-column-more {
  cursor: pointer;
  min-width: 20px !important;
}

.mat-mdc-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.mat-mdc-footer-row td {
  border-top: 2px solid $background-4;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 2px solid $background-4;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 2px solid $background-4;
}
