<div class="expense-table-container">
  <section class="mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container *ngFor="let monthLabel of valueMapKeys">
        <ng-container [matColumnDef]="monthLabel">
          <th mat-header-cell *matHeaderCellDef>{{ monthLabel }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.valueMap.get(monthLabel) }}
          </td>
        </ng-container>
      </ng-container>

      <ng-container matColumnDef="more" stickyEnd>
        <th
          class="more"
          mat-header-cell
          *matHeaderCellDef
          aria-label="row actions"
        >
          &nbsp;
        </th>
        <td class="more" mat-cell *matCellDef="let element">
          <mat-icon [class]="element.name" (click)="moreClick()"
            >more_vert</mat-icon
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</div>
