<div class="app-container">
  <div class="header-container">
    <div class="title">Budget Forecasting Tool</div>
  </div>

  <div class="expenses-container">
    <div class="expenses">
      <span></span>
      <span>Bill 1</span>
      <span>Bill 2</span>
      <span>Bill 3</span>
      <span>Bill 4</span>
      <span>Bill 5</span>
      <span></span>
    </div>
    <div class="timeline">
      <div *ngFor="let i of timeline" class="timeline-col">
        <span class="timeline-col-name">{{ i.label }}</span>
        <span>Timeline 1</span>
        <span>Timeline 2</span>
        <span>Timeline 3</span>
        <span>Timeline 4</span>
        <span>Timeline 5</span>
        <span>Total</span>
      </div>
    </div>
    <div class="totals">
      <span></span>
      <span>Total 1</span>
      <span>Total 2</span>
      <span>Total 3</span>
      <span>Total 4</span>
      <span>Total 5</span>
      <span></span>
    </div>
  </div>
</div>
