@import '../styles/variables';

.app-container {
  font-size: 16px;
  overflow: hidden;
}

.header-container {
  background-color: $background-1;
  border: 2px solid $background-4;
  border-radius: 8px;
  margin: 16px auto 32px;
  width: 35%;

  .title {
    font-size: 40px;
    padding: 32px;
    text-align: center;
  }
}
